*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/sfondo.jpg");
  background-size: cover;
  overflow: hidden;
}

.punteggio{
  width: 80vh;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 3vh;
  background-color: rgba(96, 210, 235, 0.8);
  border-top-right-radius: 5vh;
  border-top-left-radius: 5vh;
}

.tablecontainer{
  width: 80vh;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border:  1px solid rgba(12, 187, 86, 0.2);
  width: calc(100% / 8);
  height: calc(100% / 8);
  background-image: url("img/pratoChiaro.png");
  background-size: contain;
}

/* GESTIONE RIEMPIMENTO CELLE */
.fiore{
  background-size: contain;
}

/* BOTTONI DEL CONTROLLO*/
button{
  padding: 0.5vh 3vw;
  border-radius: 5px;
  color: white;
  font-size: 2.5vh;
  background-color: rgba(96, 210, 235, 0.8);
  margin: 10px;
  margin-bottom: 20px;
  outline: none;
}
